{% extends "base.html" %}

{% block title %}CV · Portfolio{% endblock %}

{% block content %}
 

  <section class="prose">
    <h2>Sobre mí</h2>
    <p>
      Hola, soy <strong>Fausto</strong>. Me especializo en ilustración digital/tradicional.
      Me gusta trabajar en personajes, concept art y piezas editoriales.
    </p>

    <h2>Servicios</h2>
    <ul>
      <li>Ilustración editorial</li>
      <li>Comisiones</li>
      <li>Concept art</li>
    </ul>

    <h2>Herramientas</h2>
    <p>Krita · Clip Studio · Tradicional · Photoshop</p>

    <h2>Links</h2>
    <p>
      Instagram:
      <a href="https://www.instagram.com/cardarellisarts/" target="_blank" rel="noopener noreferrer">
        @cardarellisarts
      </a><br />
      
    </p>
  </section>
{% endblock %}
